.wrapper {
  display: grid;
  grid-template-colums: repreat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(250px, auto);
  background-color: #f22602;
}

.one {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1;
  align-self: center;
}

.three {
  grid-column: 1;
  grid-row: 2;
}

.four {
  grid-column: 2 / 4;
  grid-row: 2;
}

.five {
  grid-column: 1;
  grid-row: 3
}

.six {
  grid-column: 2 / 4;
  grid-row: 3;
}

.three:before {
  content: "";
  display: block;
  border-top: 1px solid grey;
  margin-left: 100px;
}

.four:before {
  content: "";
  display: block;
  border-top: 1px solid grey;
}

.five:before {
  content: "";
  display: block;
  border-top: 1px solid grey;
}

.six:before {
  content: "";
  display: block;
  border-top: 1px solid grey;
}

h2 {
  font-weight: 400px;
  font-size: 80px;
  text-indent: 100px;
}
